.text-action {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 6px 6px 6px 24px;

    border-radius: 8px;
    background-color: #f5f5fa;
}

.text-action .text {
    font-size: 1.4rem;
    line-height: 1;
}

.text-action .actions {
    display: flex;
    gap: 8px;
}

.text-action .btn-icon {
    display: grid;
    place-items: center;
    width: 36px;
    height: 36px;

    background-color: #ebebee;
    border-width: 0;
    border-radius: 8px;

    cursor: pointer;

    transition: background-color 0.3s ease;
}

.text-action .btn-icon svg {
    width: 18px;
    transition: color 0.3s ease;
}

.text-action .btn-icon:hover {
    background-color: rgb(25, 25, 25);
}

.text-action .btn-icon:hover svg {
    color: #fff;
}
