.copy-text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    background-color: #f5f5fa;
    border-radius: 8px;
    padding: 0 12px 0 24px;
    gap: 24px;
}

.copy-text-container .btn-icon {
    width: 36px;
    height: 36px;
    padding: 9px;
    background-color: #ebebee;
    border-width: 0;
    margin-left: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.copy-text-container .text {
    font-size: 1.4rem;
}
