.toolbox {
    width: 96px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.tool-selector {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.tool-selector .icon-btn {
    width: 48px;
    height: 48px;
    display: grid;
    place-items: center;
    cursor: pointer;
    background-color: #fff;
    border-width: 0;
    border-radius: 16px;
}

.icon-btn svg {
    width: 24px;
    height: 24px;
}

.palette {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    max-width: 180px;
    gap: 4px;
}

.palette .color {
    background-color: #000;
    width: 28px;
    height: 28px;
    border-radius: 10px;
    border: 4px solid #fff;
    cursor: pointer;
}

@media only screen and (max-width: 920px) {
    .toolbox {
        width: 100%;
        height: 96px;
        flex-flow: row nowrap;
        gap: 16px;
    }
}
