.toolbox {
    flex: 0 0 88px;
    align-self: flex-start;
    padding: 48px 0;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 48px;
}

.tool-selector {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.tool-selector .tool {
    width: 42px;
    height: 42px;
    display: grid;
    place-items: center;

    background-color: #fff;
    border-width: 0;
    border-radius: 16px;

    box-shadow: 0px;
    transform: scale(1);

    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.tool svg {
    width: 22px;
    height: 22px;
}

.tool.selected {
    background-color: #000;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0px 0.5px 0.3px -3px rgba(0, 0, 0, 0.24),
        0px 1.2px 0.8px -3px rgba(0, 0, 0, 0.173),
        0px 2.3px 1.5px -3px rgba(0, 0, 0, 0.143),
        0px 4px 2.7px -3px rgba(0, 0, 0, 0.12),
        0px 7.5px 5px -3px rgba(0, 0, 0, 0.097),
        0px 18px 12px -3px rgba(0, 0, 0, 0.067);
}

.color-selector {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 16px;
}

.palette {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    width: 80px;
    gap: 8px;
}

.palette .color {
    width: 24px;
    height: 24px;

    border-radius: 12px;
    border: 2px solid rgba(0, 0, 0, 0.15);

    cursor: pointer;
}

.selected-color {
    width: 42px;
    height: 42px;

    border-radius: 8px;
    border: 4px solid #fff;
    box-shadow: 0px 0.5px 0.3px -3px rgba(0, 0, 0, 0.24),
        0px 1.2px 0.8px -3px rgba(0, 0, 0, 0.173),
        0px 2.3px 1.5px -3px rgba(0, 0, 0, 0.143),
        0px 4px 2.7px -3px rgba(0, 0, 0, 0.12),
        0px 7.5px 5px -3px rgba(0, 0, 0, 0.097);

    transition: all 0.25s ease-out;
}

.misc-tools {
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
}

.misc-tools button {
    display: grid;
    place-items: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

@media only screen and (max-width: 920px) {
    .color-selector {
        flex-flow: row nowrap;
    }

    .toolbox {
        padding: 0;
        max-height: 88px;
        flex-grow: 1;
        flex-flow: row nowrap;
        gap: 24px;
    }

    .palette {
        flex-flow: row wrap;
        justify-content: flex-start;

        width: 200px;
    }

    .misc-tools {
        flex-flow: row nowrap;
    }
}
