.container {
    padding: 24px;
    transition: all 0.5s;

    .codeInputContainer {
        .text {
            grid-column: span 2;
            margin-bottom: 24px;
            text-align: center;

            h3 {
                font-size: 2rem;
                font-weight: 700;
            }

            p {
                font-size: 2rem;
                font-weight: 500;
            }
        }

        .helpText {
            text-align: center;
            margin: 8px 0 24px 0;
            font-size: 1.4rem;
            color: rgba(0, 0, 0, 0.67);
        }

        .btnGroup {
            display: flex;
            flex-flow: row nowrap;
            gap: 16px;
        }
    }
}
