@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

.word-board {
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 4px;

    height: 42px;
    width: fit-content;
    padding: 12px;

    border-radius: 8px;
    background-color: #f7f6f6;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
}

.letter-hidden {
    width: 12px;
    height: 2px;
    background-color: rgb(147, 147, 147);
    align-self: flex-end;
}

.letter-space {
    width: 18px;
}
