.selector {
    display: flex;
    flex-flow: row nowrap;
    background-color: #f5f5fa;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    width: 100%;
}

.selector-btn {
    cursor: pointer;
    height: 48px;
    min-width: 48px;
    border-width: 0;
    background-color: transparent;
    display: grid;
    place-items: center;
}

.selector-btn svg {
    width: 18px;
    color: rgb(120, 120, 120);
    transition: color 0.2s;
}

.selector-btn:hover svg {
    color: rgb(20, 20, 20);
}

.selected-option {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
}
