.lobby-page {
    display: flex;
    gap: 24px;
    flex-flow: column nowrap;
    max-width: 1080px;
    margin: 0 auto;
}

.lobby-page .lobby-main {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 60px;
}

.btn-group {
    display: flex;
    flex-flow: row;
    gap: 16px;
}

.header {
    padding: 36px 0;
}

.exit-room-modal h4 {
    margin-bottom: 24px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}

.invite-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    margin: 32px 0;
}

.invite-box h5 {
    font-size: 1.5rem;
    font-weight: 500;
}
