.avatar {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 8px;
}

.imageWrapper {
    display: grid;
    place-items: center;
    overflow: hidden;
}

.image {
    width: 70%;
}

.username {
    font-size: 1.4rem;
    font-weight: 500;
}
