.avatar {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 8px;
}

.avatar-img-container {
    display: grid;
    place-items: center;
    overflow: hidden;
}

.avatar-img {
    width: 70%;
    height: 70%;
}

.avatar-label {
    font-size: 1.4rem;
    font-weight: 500;
}
