.lobby-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 48px;
}

.lobby-page .header,
.lobby-page button {
    grid-column: span 3;
}

.lobby-page .header {
    align-self: end;
}

.lobby-page .room {
    grid-column: span 2;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 24px;
}

.players-list {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
}

.settings {
    grid-column: span 1;
}

.lobby-page > button {
    grid-column: 2/3;
}

.logo {
    font-size: 2.4rem;
    font-family: "Krona One";
}

.settings {
    border: 1px solid rgb(229, 229, 229);
    padding: 36px;
    border-radius: 8px;
}

.label {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 8px;
    margin-top: 24px;
    display: block;
}

.settings h4 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}

.room h4 {
    font-size: 1.8rem;
    line-height: 1;
}
