.container {
    padding: 24px;
    width: 100%;

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.6rem;
        margin-bottom: 8px;
        text-transform: uppercase;
        color: rgb(112, 116, 120);
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        gap: 48px;

        h5 {
            font-size: 1.6rem;
            font-weight: 500;
            white-space: nowrap;
        }

        p {
            font-size: 1.4rem;
            white-space: nowrap;
        }
    }
}
